.tooltip {
    position: absolute;
    padding: 7px;
    background: rgba(0, 0, 0, 0.6);
    height: max-content;
    width: max-content;
    border-radius: 5px;
    color: white;
    z-index: 100;
}

.information {
    transform: translate(-35%, -100%);
}

.tooltip > div {
    margin: 0.1em 0;
}

.tooltip > div > p {
    margin: 0;
}

.tooltip > p {
    margin: 0;
}

.tooltip > .br{
    margin: 15px 0;
}
