.btn {
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  filter: brightness(110%);
  animation: bright 0.2s normal;
}

.btn-green {
    color: white;
    background-color: #31c901;
    border: #228c01 solid 4px;
}

.btn-grayer {
    color: white;
    background-color: #666666;
    border: #535353 solid 4px;
}

.btn-abandon {
    color: white;
    background-color: #bb5555;
    border: solid 4px #974545;
}

.btn-blue {
  color: white;
  background-color: #5a9fdb;
  border: #487faf solid 4px;
}

.qq-color {
    background: rgb(0, 202, 252);
    border: rgb(0, 164, 204) 4px solid;
    color: white;
}

.discord-color {
    background: #5c68f1;
    border: #4a55cc 4px solid;
    color: white;
}

.gth-color {
    background: #1e1e1e;
    border: #0e0e0e 4px solid;
    color: white;
}

.gth-color:hover{
    filter: brightness(160%);
    animation: brighter 0.2s normal;
}

.btn-gray {
    color: white;
    background-color: #aaaaaa;
    border: #8a8a8a solid 4px;
}

.btn-craft-color {
  color: white;
  background-color: #db9d5a;
  border: #af7e48 solid 4px;
}

.btn-yellow-color {
    color: white;
    background-color: #dbd74b;
    border: #adae41 solid 4px;
}

.btn-big-block {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
}

.btn-very-big-block {
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60px 60px;
}

#bottom-left-buttons {
    position: absolute;
    left: 5px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
}

#bottom-left-buttons>.btn {
    margin-bottom: 5px;
}

#top-left-buttons {
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
}

#top-left-buttons>.btn {
    margin-right: 5px;
}

#btn-inventory {
    background-image: url('/img/ui/inventory.svg');
}

#btn-craft {
    background-image: url('/img/ui/craft.svg');
}

#btn-settings {
    background-image: url('/img/ui/settings.svg');
}

#toggle-fullscreen {
  height: 30px;
}

#hud > #btn-settings {
    position: absolute;
    top: 5px;
    left: 120px;
}

#btn-credit {
    background-image: url('/img/ui/wooden-sign.svg');
}

#btn-petal-gallery {
    background-image: url('/img/ui/petal_gallery.svg');
}

#btn-mob-gallery {
    background-image: url('/img/ui/mob_gallery.svg');
}

#qq-btn {
    background-image: url("/img/ui/qq.svg");
    background-size: 35px 35px;
}

#dis-btn {
    background-image: url("/img/ui/discord.svg");
    background-size: 35px 35px;
}

#gth-btn {
    background-image: url("/img/ui/github.svg");
    background-size: 35px 35px;
}
