.dialog {
    position: absolute;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translate(-300%, 0);
}

.top-left-dialog {
    width: max-content;
    height: max-content;
    left: 10px;
    top: 70px;
    border-radius: 9px;
}

.bottom-left-dialog {
    width: max-content;
    height: max-content;
    left: 80px;
    bottom: 37px;
    border-radius: 9px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    background-color: #666666;
    border: 4px solid #333333;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #dddddd;
}

.dialog-content > * {
    display: inline;
}

.dialog-content {
    display: flex;
    align-items: center;
}

#settings-dialog {
    background-color: #aaaaaa;
    border: #8a8a8a 6px solid;
}

#credit-dialog {
    border: #8a8a8a 6px solid;
    background-color: #aaaaaa;
    display: flex;
    align-items: center;
    min-width: 300px;
}

#petal-gallery-dialog {
    border: #b3814a 6px solid;
    background-color: #db9d5a;
    display: flex;
    align-items: center;
    min-width: 300px;
}

@keyframes open_dialog {
    from {
        transform: translate(-200%, 0);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes close_dialog {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-200%, 0);
    }
}
