@use './utils/button.scss';
@use './utils/dialogs.scss';
@use './utils/dropdown.scss';
@use './utils/animation.scss';
@use './utils/text.scss';
@use './utils/scrollbar.scss';

@use './game/mobile.scss';
@use './game/servers.scss';
@use './game/gallery.scss';
@use './game/petal.scss';
@use './game/chat.scss';
@use './game/tooltip.scss';
@use './game/hud.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input::placeholder {
    color: white;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100px;
    z-index: 1000;
    place-content: center;
    display: grid;
}

body {
    background-color: #1ea761;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 2%, rgba(0, 0, 0, 0) 5%), linear-gradient(0deg, rgba(0, 0, 0, 0.15) 2%, rgba(0, 0, 0, 0) 5%);
    background-size: 20px 20px;
    overflow: hidden;
    background-position: 0 0;
    animation: background 0.5s linear infinite;
}

#animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -6;
    overflow: hidden;
}

.floating-entity {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.floating-entity {
    animation: spin var(--spin-duration, 15s) linear infinite;
}

#game-over-title {
    font-size: 20px;
}

#game-over-murderer {
    font-size: 30px;
}

#game-over-kills {
    margin-top: 20px;
    font-size: 15px;
}

#btn-continue {
    margin-top: 20px;
    height: 35px;
    width: 120px;
    font-size: 20px;
}

#btn-close {
    margin-top: 10px;
    height: 20px;
    width: 60px;
    font-size: 15px;
}

#main {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: -60px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    color: white;
    margin-bottom: 30px;
}

#name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: black;
  border: black solid 4px;
    outline: 0;
    padding: 5px;
  height: 30px;
  width: 300px;
}

#debug-info,#game-info{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    bottom: 4px;
    right: 4px;
    z-index: 10010;
    white-space: nowrap;
}

#game-info {
  bottom: 18px;
}

#btn-ready {
  font-weight: bold;
  margin-left: 5px;
  height: 35px;
  width: 80px;
  font-size: 20px;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#in-game-screen {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    clip-path: circle(0 at center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#transition-ring {
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0);
    border: 5px solid black;
    pointer-events: none;
}

#out-game-screen {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


#game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#canvas {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

img {
    pointer-events: none;
}

#delete-petal {
    margin-left: 5px;
    opacity: 0.8;
    border-radius: 3px;
    width: 38.5px;
    height: 38.5px;
    background: #b7816d;
    border: #9a7661 4px solid;
}

#move-high{
    position: absolute;
    background: rgba(#000, 0.5);
    top: 40%;
    left: 60%;
    width: 260px;
    height: 120px;
    border-radius: 6px;
    z-index: 6;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#floer-version {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 25px;
    color: white;
    opacity: 0.5;
    z-index: 999;
}

#floer-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    z-index: 999;
}

#abandon {
    position: absolute;
    top: 13px;
    left: 185px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}



